/* Estilos base */
.container {
  min-height: 100vh;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #bcd4ed, #deeaf7);
  position: relative; /* Necesario para el pseudo-elemento */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 100px); /* Resta el alto del footer */
  background: linear-gradient(to bottom right, #86bdfc, #a0c2ea);
  clip-path: polygon(0 0, 100% 0, 90% 85%, 0% 95%);
  z-index: -1; /* Envía la diagonal al fondo de la página */
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header {
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #333;
}

.title span {
  color: #0070f3;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #666;
}

.description {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #333;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  text-decoration: none;
}

.card {
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #666;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  z-index: 1; /* Asegura que el footer siempre esté en la parte superior */
  position: relative; /* Necesario para que el z-index funcione */
  background: linear-gradient(to bottom right, #a0c2ea);
}

.footer p {
  margin: 0;
  color: #999;
}

/* Estilos responsive */
@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .description {
    font-size: 1rem;
  }
  .grid {
    max-width: 100%;
    padding: 0 1rem;
  }
  .card {
    flex: 1 0 100%;
  }
  .footer {
    height: auto;
    padding: 1rem 0;
    text-align: center; /* Centra el texto */
  }
}
